{% extends "base.html" %}

{% block main %}

<div class="container-fluid">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="\static\img\dry.png" class="d-block w-100" alt="..." style="height: 300px;">
            </div>
            {% for offer in offers %}
            <div class="carousel-item">
                <img src="{{offer.image.url}}" class="d-block w-100" alt="..." style="height: 300px;">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for product in products %}
    <div class="col">
        <div class="card shadow-sm">
            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="{{product.image.url}}"
                    class="d-block w-100" height="210px" alt="..."></a>
            <div class="card-body">
                <a id="myBtn">
                    <p class="card-text"><b>{{product.name}}</b></p>
                </a>
                <p class="card-text">{{product.desc}}</p>
                <p class="card-text">Rs. {{product.price}} / kg</p>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Product</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div><img src="{{product.image.url}}" class="d-block w-100" height="210px" alt="..." />
                            </div>
                            <div class="card-body">
                                <p class="card-text"><b>{{product.name}}</b></p>
                                <p class="card-text">{{product.desc}}</p>
                                <p class="card-text">Rs. {{product.price}} / kg</p>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    {% endfor %}
</div>

<!-- Button trigger modal -->
{% comment %} <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button> {% endcomment %}


{% endblock main %}