{% extends "base.html" %}

{% block main %}

<div class="container-fluid">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="\static\img\dry.png" class="d-block w-100" alt="..." style="height: 300px;">
            </div>
            {% for offer in offers %}
            <div class="carousel-item">
                <img src="{{offer.image.url}}" class="d-block w-100" alt="..." style="height: 300px;">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-1">
    {% for product in products %}
    <div class="col">
        <div class="card shadow-sm">

            <img src="{{product.image.url}}" class="d-block w-100" height="210px" alt="...">
            <div class="card-body">
                <p class="card-text"><b>{{product.name}}</b></p>
                <p class="card-text">{{product.desc}}</p>
                <p class="card-text">Rs. {{product.price}} / kg</p>
                <button type="button" class="btn btn-success cart">Add To Cart</button>
                <a style="color:blue" type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="{{product.longdesc}}">
                    &nbsp;&nbsp;&nbsp;&nbsp; Discription
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock main %}

{% block js %}
<script>
    console.log("working");
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }

    $('.cart').click(function () {
        console.log('clicked');
    });
</script>

{% endblock js %}