{% extends "base.html" %} 
{% block main %}
<div class="mx-5 my-4">
    <form action="">
        {% csrf_token %}
        <div class="mb-3 px-5">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
        </div>
        <div class="mb-3 px-5">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
        </div>
        <div class="mb-3 px-5">
            <label for="desc" class="form-label">Describe !</label>
            <textarea class="form-control" id="desc" rows="3" name="desc"
                placeholder="Describe your file and how to print it...!"></textarea>
        </div>
        <div class="mb-3 px-5">
            <label for="file" class="form-label">Multiple files input example</label>
            <input class="form-control" type="file" id="file" name="file" multiple>
        </div>
        <button class="btn btn-secondary mx-5 my-2" type="submit">Submit</button>
    </form>
</div>
{% endblock main %}
